@{ Layout = "_Layout";}
@model NumberInput
@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
    </script>
}


@{
    ViewData["Title"] = "Home Page";
}


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@using (Html.BeginForm("Checknumber", "Home"))
{
    <div class="text-center">
        <p>Enter a number far from a prime.</p>
        <div asp-validation-summary="All" , class="text-danger"></div>
        @Html.TextBoxFor(x => x.Input)
        <div>
            <input type="submit" />
        </div>
    </div>
}